:root {
  --indigo-blue: #231955;
  --cobalt-blue: #1F4690;
  --mustard-yellow: #E8AA42;
  --beige-yellow: #FFE5B4;
  --pure-white: #FFFFFF;
}

body {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
}

input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.input-box {
  background: grey;
}

.simple-keyboard {
  max-width: 100%;
}

.simple-keyboard .enabled-keys {
  background: rgb(0, 255, 0, 0.7) !important;
}

.keybored__logo {
  position: relative;
  right: 5em;
}